[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
pytest = "*"
setuptools = "*"
twine = "*"
wheel = "*"
pre-commit = "*"
z2jh-cost-simulator-consideratio = {path = "."}

[packages]
numpy = "*"
pandas = "*"
plotly = "*"

